h1 {
	font-size: 50px;
	font-family: Impact;
	background-colour: black;
	color: yellow;
}
body {
	font-family: arial;
	width: 80%;
	margin: 0 auto;
	background: red;
	text-align: center;
}

.rotate {
	transform: rotate(180deg);
	
}
footer {
	background: #e45dec;
	padding: 0px 0px;
	width: 100px;
	position: absolute;
	text-align: center;